/*Formatation css and html*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
}
html{
  font-size: 90.5%;

}

html,
body {
  height: 100vh;
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}


